.Review {
  list-style: none;
  padding: 0;
  margin-top: 0;
}

.ReviewItem:not(:last-child) {
  margin-bottom: 20px;
}

.ReviewItem,
.Name {
  margin-top: 0;
}

.Name {
  margin-bottom: 10px;
}

.Content {
  margin: 0;
}
