.CastList {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  @media screen and (min-width: 768px) {
    margin: -10px;
    display: flex;
    flex-wrap: wrap;
  }
}
